[submodule "OpenKO-db"]
	path = OpenKO-db
	url = https://github.com/kenner2/OpenKO-db.git
	branch = feature/templates
[submodule "openko-gorm"]
	path = openko-gorm
	url = https://github.com/kenner2/openko-gorm
