[submodule "OpenKO-db"]
	path = OpenKO-db
	url = https://github.com/Open-KO/OpenKO-db.git
	branch = master
[submodule "OpenKO-gorm"]
	path = OpenKO-gorm
	url = https://github.com/Open-KO/OpenKO-gorm
	branch = main
[submodule "doxygen-db"]
	path = doxygen-db
	url = https://github.com/Open-KO/doxygen-db.git
